<h1 class='display-4'>Welcome to our Chat Application. This chat application is developed for learning purpose, here we
  use Angular as Front End, express as Server
  and MongoDB as DataBase
</h1>

<h1>These are the steps for use this Application. So for use it follow all these step by step :-</h1>
<ol>
  <li><strong>Open this Application.</strong></li>
  <li><strong>In this Application you provide two inputs. Input are Name, Room Id.</strong></li>
  <li><strong>Now Enter your Name and unique Room Id.</strong></li>
  <li><strong>All those Name who have same Room, they connected in Chat Application.</strong></li>
  <li><strong>Share your Room Id to your Friends to connect.</strong></li>
  <li><strong>Now at Bottom press the button to start this Application and follow these steps to start
      Chatting.</strong></li>
</ol>
<div class="container">
  <button type="button"  (click)="ProcessIt()" class="btn btn-primary btn-lg btn-block">Press it to Start App</button>
</div>

